<!DOCTYPE html>
<html lang="{{ config.lang }}">
{% block head %}
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">

    <title>{% block title %}CArisTotle: adaptivní testování{% endblock %}</title>

    <meta name="description" content="CArisTotle: adaptivní testování">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="CArisTotle">

    <!-- FONT
    ––––––––––––––––––––––––––––––––––––––––––––––––––
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-{{ bokeh_version }}.min.css">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.css">

    <!-- Scripts
    ––––––––––––––––––––––––––––––––––––––––––––––––––
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>

    <!-- Favicon
    ––––––––––––––––––––––––––––––––––––––––––––––––––
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon/favicon.ico"> -->

</head>
{% endblock %}
{% block body %}
<body>
{% block header %}
<header id="header">
    <div class="container">
        <!--<div class="row">-->
        <!--<div class="twelve columns">-->
        <!--<img src="assets/images/logo.svg" class="logo">-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="twelve columns">
                <a class="no-underline default-color" href="{{ url_for('index') }}">
                    <h1>CArisTotle</h1>
                    <p>Adaptivní testování</p>
                </a>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block nav %}
<nav id="nav">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <a class="button button-primary" href="{{ url_for('tests_list') }}">Testy</a>
                {% if test is defined %}
                <a class="button button-primary" href="{{ url_for('test_overview', test_id=test.id) }}">
                    Přehled aktuálního testu</a>
                {% if test_instance is defined %}
                <a class="button button-primary"
                   href="{{ url_for('test_instance_overview', test_id=test.id, test_instance_id=test_instance.id) }}">
                    Přehled aktuálního případu testu</a>
                <a class="button button-primary"
                   href="{{ url_for('questions_list', test_id=test.id, test_instance_id=test_instance.id) }}">
                    Seznam otázek aktuálního případu testu</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block status %}
{% if stopping_criteria_states is defined and test_instance is defined %}
<section id="top_status">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                {% if stopping_criteria_states.time_remaining %}
                <p>Zbývající čas: {{ stopping_criteria_states.get_pretty_time_remaining() }}</p>
                {% endif %}
                {% if stopping_criteria_states.entropy_remaining %}
                <p>Zbývající entropie výsledků:
                    {{ "{0:.002f}".format(stopping_criteria_states.entropy_remaining) }} bitů</p>
                {% endif %}
                {% if stopping_criteria_states.questions_remaining %}
                <p>Zbývající počet otázek: {{ stopping_criteria_states.questions_remaining }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
{% block flashes %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<section id="flashes">
    <div class="container">
        <div class="header row">
            <div class="twelve columns">
                <h3>Zprávy, chyby a varování:</h3>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <ul class="flashes">
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endwith %}
{% endblock %}
{% block main %}
<main>
</main>
{% endblock %}
{% block user_menu %}
<nav id="user_menu">
    <div class="container">
        {% include "security/_menu.html" %}
    </div>
</nav>
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p>
                    <span class="u-mirror-horizontally">&copy;</span> František Navrkal, 2018. Všechna práva vyhlazena.
                    Sdílejte a nechte ostatní sdílet za stejných podmínek.
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
</body>
{% endblock %}
</html>