{% extends "common.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block main %}
<main>
    <section id="login_form">
        <div class="container">
            <div class="header row">
                <div class="twelve columns">
                    <h2>{{ _('Register') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% include "security/_messages.html" %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                        {{ register_user_form.hidden_tag() }}
                        {{ render_field_with_errors(register_user_form.name) }}
                        {{ render_field_with_errors(register_user_form.fullname) }}
                        {{ render_field_with_errors(register_user_form.email) }}
                        {{ render_field_with_errors(register_user_form.password) }}
                        {% if register_user_form.password_confirm %}
                        {{ render_field_with_errors(register_user_form.password_confirm) }}
                        {% endif %}
                        {{ render_field(register_user_form.submit) }}
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
